name: CI - Tests

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore Fiap.FCG.Game.Api.sln

      - name: Build
        run: dotnet build Fiap.FCG.Game.Api.sln --configuration Release --no-restore

      - name: Test with coverage (OpenCover)
        run: |
          dotnet test test/Fiap.FCG.Game.Unit.Test/Fiap.FCG.Game.Unit.Test.csproj \
            --configuration Release --no-build \
            --logger "trx;LogFileName=test-results.trx" \
            /p:CollectCoverage=true \
            /p:CoverletOutput=${{ github.workspace }}/test/Fiap.FCG.Game.Unit.Test/TestResults/coverage.opencover.xml \
            /p:CoverletOutputFormat=opencover
